<section>
  <h1 id="fullName" class="titulo">
    <strong>{{ persona.fullName }}</strong>
  </h1>
  <div class="container">
    <div class="row">
      <div class="col">
        <p id="position">{{ persona.position }}</p>
        <p id="ubication">{{ persona.ubication }}</p>
        <p>
          Contacto: juanjotic85@gmail.com <br />
          261 6303011
        </p>
        <button *ngIf="usuarioAutenticado" class="btn btn-primary" data-bs-toggle="modal"
      data-bs-target="#modalDatos">
      Editar
    </button>
      </div>
    </div>
  </div>
  <!-- Modal -->
<div class="modal fade" id="modalDatos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar datos personales</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="fullName" class="form-label">Nombre y Apellido</label>
            <input type="email" class="form-control" id="fullName">
          </div>
          <div class="mb-3">
            <label for="persona.position" class="form-label">Posicion</label>
            <input type="email" class="form-control" id="persona.position">
          </div>
          <div class="mb-3">
            <label for="persona.ubication" class="form-label">Ubicacion</label>
            <input type="email" class="form-control" id="persona.ubication">
          </div>
          <div class="mb-3">
            <label for="fullName" class="form-label">Contacto</label>
            <input type="email" class="form-control" id="fullName">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Salir
        </button>
        <button type="button" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>
</div>
</section>

