<section>
  <h1 id="fullName" class="titulo">
    <strong>{{ persona.fullName }}</strong>
  </h1>
  <div class="container">
    <div class="row">
      <div class="col">
        <p id="position">{{ persona.position }}</p>
        <p id="ubication">{{ persona.ubication }}</p>
        <p id="mail">{{ persona.mail }}</p>
        <p id="contact">{{ persona.contact }}</p>
        <button *ngIf="usuarioAutenticado" class="btn btn-primary" data-bs-toggle="modal"
          data-bs-target="#editarDatos">
          Editar
        </button>
      </div>
    </div>
  </div>
</section>
<!-- Button trigger modal -->
<!--<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="editarDatos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Datos</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Nombre y apellido</label>
            <input type="text" class="form-control" id="fullName" formControlName="fullName" class="text-light" >
            <div *ngIf="fullName?.invalid && (fullName?.dirty || fullName?.touched)">
              <div *ngIf="fullName?.errors?.['required']" class="text-warning">
              Estos datos son obligatorios
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Posicion</label>
            <input type="text" class="form-control" id="position" formControlName="position" class="text-light" >
            <div *ngIf="fullName?.invalid && (fullName?.dirty || fullName?.touched)">
              <div *ngIf="fullName?.errors?.['required']" class="text-warning">
              Estos datos son obligatorios
              </div>
            </div>
          
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Lugar de residencia</label>
            <input type="text" class="form-control" id="ubication" formControlName="ubication" class="text-light">
            <div *ngIf="fullName?.invalid && (fullName?.dirty || fullName?.touched)">
              <div *ngIf="fullName?.errors?.['required']" class="text-warning">
              Estos datos son obligatorios
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Contacto</label>
            <input type="number" class="form-control" id="contact" formControlName="contact" class="text-light">
            <div *ngIf="fullName?.invalid && (fullName?.dirty || fullName?.touched)">
              <div *ngIf="fullName?.errors?.['required']" class="text-warning">
              Estos datos son obligatorios
              </div>
            </div>
          </div>
         
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
        <button type="button" class="btn btn-primary" (click)="guardarDatos()">Guardar</button>
      </div>
    </div>
  </div>
</div>



