<section>
    <div class="container">
      <div class="row">
        <div class="col">
          <img src="./assets/APLogo-20-20.png" alt="">
          <img src="./assets/CONOSUR.png" alt="">
          <img src="./assets/logofesat.png" alt="">
  
        </div>
        <div class="col">
          <h1>Cursos</h1>
          <p>#SeProgramar (Argentina Programa)</p>
          <p>#YoProgramo (Argentina Programa)</p>
          <p>Inglés Técnico para programadores (Argentina Programa)</p>
          <p>Curso Introductorio YoQuieroProgramar (ConoSurTech)</p>
          <p>Programación en lenguaje Python (Programa CITI FESAT)</p>
        </div>
      </div>
    </div>
  </section>
